 
    <fieldset>
        <body>
        <h1>Benvingut al sistema de creacio de sucursals del banc agapaoawdbank</h1>    
        </body>
        <legend>Quina acció vols realitzar?</legend>
        <table>
        	<tr>
                <td><div>
			        <br><h2>Crear una nova sucursal</h2>
			        <a href="/actemele/add">Clica'm</a>
			   	 	</div>
			   	</td>
            </tr>
            <tr>
                <td><div>
                	<br><h2>Veure una sucursal</h2>
			        <a href="/actemele/getIdSee">Clica'm</a>
			   	 	</div>
			   	</td>
            </tr>
            <tr>
                <td><div>
                	<br><h2>Veure totes les sucursals</h2>
			        <a href="/actemele/getAll">Clica'm</a>
			   	 	</div>
			   	</td>
            </tr>
            <td><div>
                	<br><h2>Actualitzar les dades d'una sucursal</h2>
			        <a href="/actemele/update">Clica'm</a>
			   	 	</div>
			   	</td>
            <tr>
                <td><div>
                	<br><h2>Esborrar una sucursal</h2>
			        <a href="/actemele/D">Clica'm</a>
			   	 	</div>
			   	</td>
            </tr>
            <tr>
                <td><div>
                	<br><h2>Esborrar totes les sucursals</h2>
			        <a href="/actemele/aTomarPorCulo">Clica'm</a>
			   	 	</div>
			   	</td>
            </tr>
            <tr>
                <td><div>
			        <h1>Gorila</h1>
			        <a href="https://i.pinimg.com/736x/1d/4c/ed/1d4ced8d48bdd743c9d7868abb76d133--animal--animal-pics.jpg">Gorila</a>
			   	 	</div>
			   	</td>
            </tr>		

		</table>
		
		
    </fieldset>
    